* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

body {
    background-color: black;
}

.color {
    background-color: #344d59;
}

#logoMJJ {
    background-color: #b8cbd0;
    color: #344d59;
    padding: 0.3125rem 1.25rem;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#logoMJJ:hover {
    color: #344d59;
}

#logoLoupe {
    color: white;
}

.loupe {
    background-color: #b8cbd0;
    padding: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 50px !important;
}

.my-carou {
    height: 70vh;
    display: flex;
    align-items: center;
}

.carousel-item img {
    height: 65vh;
    width: auto !important;
    margin: auto;
    object-fit: contain;
}

.titre {
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 20px;
    color: white;
}

.titre2 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2px 7px;
    z-index: 3;
    border-radius: 10px;
}

.carou2 {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 10px;
    margin: 0;
    height: 37vh;
    background-color: #b8cbd0;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden !important;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

.my-card {
    min-width: 250px;
    background-color: white;
    border-radius: 10px;
}

.my-card > a {
    color: black;
    text-decoration: none;
}

#movie-container {
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#poster-img {
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

#informations {
    max-width: 500px;
    padding: 20px;
    background-color: rgba(109, 109, 109, 0.5);
    border-radius: 10px;
}

#realese-genres,
#note,
#tagline,
#description {
    margin-bottom: 15px;
}

#directors {
    display: flex;
    justify-content: space-around;
}

#actor-container {
    background-color: #b8cbd0;
}

h2 {
    color: white;
    margin: 10px;
}

.actor-card {
    width: 150px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.actor-img {
    width: auto;
    height: 75%;
    border-radius: 10px 10px 0px 0px;
}

#actor-h5,
#role-p {
    padding: 0px 5px 0px 5px;
}
