* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #000000;
}

#movie-container {
    background-size: cover;
    background-position: center;
    padding: 40px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#poster-img {
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
#informations {
    max-width: 500px;
    padding: 20px;
    background-color: rgba(109, 109, 109, 0.5);
    border-radius: 10px;
}
#realese-genres,
#note,
#tagline,
#description {
    margin-bottom: 15px;
}
#directors {
    display: flex;
    justify-content: space-around;
}

#actor-container {
    background-color: #b8cbd0;
}

h2 {
    color: white;
    margin: 10px;
}

.actor-card {
    background-color: white;
    border-radius: 10px;
}

.actor-img {
    width: auto;
    height: 75%;
    border-radius: 10px 10px 0px 0px;
}

#actor-h5,
#role-p {
    padding: 0px 5px 0px 5px;
}
