* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

.color {
    background-color: #344D59;
}

#logoMJJ {
    background-color: #B8CBD0;
    color: #344D59;
    padding: .3125rem 1.25rem;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#logoMJJ:hover {
    color: #344D59;
}

#logoLoupe {
    color: white;
}

.loupe {
    background-color: #B8CBD0;
    padding: 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 50px !important;
}

.my-carou {
    height: 70vh;
    display: flex;
    align-items: center;
}

.carousel-item img {
    height: 65vh;
    width: auto !important;
    margin: auto;
    object-fit: contain;
}

.titre {
    position: absolute;
    z-index: 2;
    text-align: center;
    top: 20px;
    color: white;
}

.titre2 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 2px 7px;
    z-index: 3;
    border-radius: 10px;
}


h2 {
    color: white;
    margin: 10px;
}

.carou2 {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 10px;
    margin: 0;
    height: 37vh;
    background-color: #B8CBD0;
    justify-content: space-between;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden !important;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}


.my-card {
    min-width: 250px;
    background-color: white;
    border-radius: 10px;
}

.note {
    color: gold;
}